<%- include("partials/header", title: "Add a new place", css: "User_Assets/css/add_new_place.css"}); -%>

    <div class="container">
        <form name="myform" method="post">
            <div class="header">
                <h3>Add a new place/monument...</h3>
            </div>
            <div class="contentform">

                <div class="lefthalf">
                    <div class="form-group">
                        <p>Name<span>*</span></p>
                        <span class="icon-case"><i class="fa fa-institution" style="font-size:24px"></i></span>
                        <input type="text" name="name" id="name" placeholder="Name of the place" required />
                    </div>
                    <div class="form-group">
                        <p>Google Map Link <span>*</span></p>
                        <span class="icon-case"><i class="fa fa-map-marker" style="font-size:24px"></i></span>
                        <input type="url" name="location" id="location" placeholder="enter the location link from Google map" required/>
                    </div>
                    <div class="form-group">
                        <p>Category </p>
                        <span class="icon-case"><i class="fa fa-question-circle" style="font-size:24px"></i></span>

                        <select name="Category of site">
                                <option value="Social">Social</option>
                                    <option value="Heritage">Heritage</option>
                                    <option value="Cultural">Cultural</option>
                                    <option value="Historic" selected>Historic</option>
                            </select>
                    </div>
                    <p>Tags</p>
                    <span class="icon-case"><i class="fa fa-question-circle" style="font-size:24px"></i></span>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Select tags
                            </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><input type="checkbox" value="monument" />monument</li>
                            <li><input type="checkbox" value="fort" />fort</li>
                            <li><input type="checkbox" value="tourist" />tourist</li>
                            <li><input type="checkbox" value="ancient" />ancient</li>
                            <li><input type="checkbox" value="heritage" />heritage</li>
                        </ul>
                    </div>
                </div>
                <div class="righthalf">
                    <div class="editor">
                        <div class="form-group">
                            <p>About the place<span>*</span></p>
                            <span class="icon-case"><i class="fa fa-edit" style="font-size:24px"></i></span>
                            <input name="about" type="hidden" required>
                            <div id="editor-container">
                            </div>
                        </div>
                    </div>
                    <div>
                        <p>Image <span>*</span></p>
                        <span class="icon-case"><i class="fa fa-photo" style="font-size:24px"></i></span>
                        <input type="file" id="myFile" name="filename" required>

                    </div>
                </div>
                <button type="submit" class="button-send">Submit</button>

        </form>
        </div>
</body>
<script src="User_Assets/js/add_new_place.js"></script>

</html>