
<%- include("partials/header",  {title: "Change password", css: "User_Assets/css/change_password.css"}); -%>
<%- include("partials/themeToggle"); -%>
    <h1>CHANGE PASSWORD <i class="far fa-eye"></i></h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <p class="sign">Welcome to Delhi-Tourism</p>
                <div class="display:flex;justify-content:center;align-items:center">
                    <img width="400px" src="User_Assets/images/delhi-your.png">
                </div>
            </div>
            <div class="col-sm-6 main">
                <p class="sign1">Make your account more secure!</p>
                <form class="form1">
                    <input class="pass" type="password" align="center" name="password" id="password" placeholder="Password">
                    <i class="far fa-eye" onclick="myFunction(this)"></i>
                    <input class="pass" type="password" align="center" id="chpassword" placeholder="Confirm Password">
                    <i class="far fa-eye" onclick="myFunction2(this)"></i>
                    <div style="display: flex;justify-content: center;">
                        <a class="submit" onclick="matchPassword(this)">Change my password</a>
                    </div>
                    <p class="forgot"><a href="#">Contact us?</p>
                </form>            
            </div>
        </div>
    </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script>
        function matchPassword() {
    
            if (document.getElementById('password').value != document.getElementById('chpassword').value) {
                alert("Passwords did not match");
            } else {
                alert("Password changed successfully");
            }
        }
    
        function myFunction() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    
        function myFunction2() {
            var x = document.getElementById("chpassword");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

        // For changing themes
const toggleSwitch = document.querySelector(".togglebtn");

function switchTheme(event) {
  document.querySelector(".tumbler").classList.toggle("tumbler--night-mode");
  if (event.target.checked) {
    document.documentElement.setAttribute("data-theme", "dark");
    localStorage.setItem("theme", "dark");
  } else {
    document.documentElement.setAttribute("data-theme", "light");
    localStorage.setItem("theme", "light");
  }
}
toggleSwitch.addEventListener("change", switchTheme);

const currentTheme = localStorage.getItem("theme");
if (currentTheme) {
  document.documentElement.setAttribute("data-theme", currentTheme);

  if (currentTheme === "dark") {
    document.querySelector(".tumbler").classList.add("tumbler--night-mode");
    toggleSwitch.checked = true;
  } else {
    document.querySelector(".tumbler").classList.remove("tumbler--night-mode");
  }
}


    </script>
</body>
</html>